//////////////////////////////////////////
// Onclicksell.com colour scheme variables
//////////////////////////////////////////

$brand--colour: #3EA98D;
$default--blue: #169BD5;
$default--font--colour: #666666;

//////////////////////////////////////////
// Onclicksell.com fonts variables
//////////////////////////////////////////

$default--lato: 'lato', sans-serif;
$default--pt-sans: 'pt sans', sans-serif;

$lato: 'lato', sans-serif;
$pt-sans: 'pt sans', sans-serif;







@mixin hero {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: block;
}